.table {
    height: 600px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
tbody {
    width: 100%;
    display: inline-table;
}
.instagram-media { 
    min-width: 0 !important;
}
.twitter-tweet {
    margin: auto;
}
button.classification {
    background: transparent;
    color: #86aae4;
    border-radius: 35px;
    border-color: #86aae4;
    border-width: 2px;
}
.classificationToggleCard {
    margin-top: 10px;
}
.classificationToggleCardBody span {
    color: #007bff;
}
.buttonsToggleDiv {
    text-align: center;
}
.buttonsToggleDiv button {
    margin: 10px;
}
.toggleDiv .collapse {
    margin-top: 10px;
}
marquee {
    padding: 1px;
}
.maequeeFirstLine {
    border: 2px solid #86aae4;
    padding: 0 10px;
    margin-right: 10px;
}
.maequeeFirstLineValue {
    color: #86aae4;
}