.priceSpanSecond {
    background-color: #fff;
    border: 2px solid #007bff;
    padding: 3px;
    border-radius: 5px;
}
.priceSpan {
    background-color: #f2f2f2;
    border: 2px solid #007bff;
    padding: 3px;
    border-radius: 5px;
}
.table {
    height: 600px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    color: #000 !important;
    background-color: #fff !important;
}
tbody, thead {
    width: 100% !important;
    /* display: table !important; */
}
.instagram-media { 
    min-width: 0 !important;
}
.twitter-tweet {
    margin: auto;
}
button.classification {
    background: transparent;
    color: #86aae4;
    border-radius: 35px;
    border-color: #86aae4;
    border-width: 3px;
    background-color: #fff;
}
.classificationToggleCard.card {
    margin-top: 10px;
    border-color: #007bff;
    border-width: 3px;
}
.classificationToggleCardBody span {
    color: #007bff;
}
.buttonsToggleDiv {
    text-align: center;
}
.buttonsToggleDiv button {
    margin: 10px;
}
.toggleDiv .collapse {
    margin-top: 10px;
}
marquee {
    padding: 1px;
}
.maequeeFirstLine {
    border: 2px solid #86aae4;
    padding: 0 10px;
    color: #000;
    margin-right: 10px;
    background: #fff;
}
.maequeeFirstLineValue {
    color: #86aae4;
}